body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-rows: 1fr 9fr;
}

header {
  background: blue;
  grid-column-start: 1;
  grid-column-end: 4;
}

nav {
  background: lightblue;
}

.main {
  background: lightgrey;
}

.advertisement {
  background: lightgreen;
}

@media screen and (max-width: 992px) {
  body {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
  }

  header {
    background: blue;
    grid-column-start: 1;
    grid-column-end: 1;
  }

  nav {
    background: lightblue;
  }

  .main {
    background: lightgrey;
  }

  .advertisement {
    background: lightgreen;
  }
}