[access]
	inheritFrom = All-Projects
[submit]
[access "refs/*"]
	owner = group user/agjordan
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/agjordan
	label-Verified = -1..+1 group user/agjordan
	push = group user/agjordan
	read = group user/agjordan
	rebase = group user/agjordan
	removeReviewer = group user/agjordan
	submit = group user/agjordan
[access "refs/heads/*"]
	create = group user/agjordan
	push = +force group user/agjordan
	pushMerge = group user/agjordan
	read = group user/agjordan
[access "refs/tags/*"]
	push = group user/agjordan
	push = +force group user/agjordan
